@charset "UTF-8";
/* CSS Document */

html {
	font-size: 16px;
	font-size: 62.5%; /* Set base font-size to 10px */
}

html, body {
	
	width: 100%;
	height: 100%;
	font-family: "lato",sans-serif;
	font-weight: 100;
	color: #f8f8f8;
}

.invisible {
	height:2000px;
}

.relative {
	position: relative;
}

.slide {
	
	position: fixed; /*absolute = "like fixed, but relative to the nearest positioned ancestor*/
	top: 0;
	left: 0;
	width: 100%; /* 50% of the #slides div*/
	height: 100vh; 
	text-align: center;
			
}

.down-arrow {

	width:30px;
	height:30px;
	background-image: url('../img/down-arrow.svg');
	background-size: cover;
	position: fixed;
	left: 50%;
	top: 85vh;
	transform: translateX(-50%);
	font-size: 2.8rem;
	z-index: 1;
	cursor: pointer;
}


 /* FONT STYLES
   ============================= */

h1, h2, h3, #slide-2 blockquote p {
	font-family: "minion-pro",serif;
	font-weight: 400;
	letter-spacing: -.05em;
}


 /* SLIDE 1 STYLES
   ============================= */

#slide-1 {
	
	background: url(../img/slide1.JPG) no-repeat center center;
	/*background-color:white;*/
	background-size: cover;
	background-position: bottom center;
	z-index: -4;
	text-align: center;
		
}

#slide-1 h1 {
	font-size: 12rem;
	margin-top: 10%;
}

#slide-1 span {
	display:block;
	font-size: 1.8rem;
	letter-spacing: .3em;
}

#slide-1 hr {
	width: 7.5%;
}

#slide-1 h2 {
	font-size: 6rem;
}

.center {

	text-align:center;

}


 /* SLIDE 2 STYLES
   ============================= */

#slide-2 {

	background: url(../img/slide2.JPG) no-repeat center center;
	background-size: cover;
	z-index:-3;
	
}

 #slide-2 blockquote {
	margin-top: 15%;
	padding: 25px;
	text-align: left;
	border:0;
	background-color: rgba(0,0,0,.4);
	font-size: 2.8rem;
	font-style: italic;
 }

#slide-2 blockquote p {
	display: none;
}

#slide-2 blockquote p.active {
	display: block;
}

#slide-2 span {
	margin-top: 5%;
	display:block;
	font-size: 1.8rem;
	letter-spacing: .3em;	
}

#slide-2 hr {
	width: 7.5%;
}



 /* SLIDE 3 STYLES
   ============================= */

#slide-3 {
	background: url(../img/slide3.JPG) no-repeat center top;
	background-size: cover;
	z-index:-2;
}

#slide-3 h3 {
	margin-top: 5%;
	font-style: italic;
	font-size: 4.8rem;
}

#slide-3 article {

	position: relative;
	margin-top: 5%;
	padding: 25px;
	text-align: left;
	border:0;
	background-color: rgba(0,0,0,.4);
	font-size: 1.8rem;
	height: 300px;
	overflow-y: scroll;

 }

 #slide-3 article p {
 }

 #slide-3 hr {
 	margin-top:0;
 	margin-bottom: 25px;
 }

 /* SLIDE 4 STYLES
   ============================= */

 #slide-4 {
	background: url(../img/slide4.JPG) no-repeat center center;
	background-size: cover;
	z-index:-1;
		
}


/*UNCOMMENT IF YOU NEED TO DO SOME TESTING WITH SKROLLR SLIDES*/

/*
.caption {
	
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: right;
	color: #fff;
	
}

#helper {

	position:absolute;
	left: 0;
	top: 0;
	height: 400%; /*this means that there will be 4 slides
	width: 20px;
	
}

.marker {
	
	height: 25%; /*of helper ; 25% of 400% = 100% 
	width: 100% /*of helper ; 100% of 20px = 20px 
	
}

.red {
	
	background-color: red;
	
}

.green {

	background-color: green;
	
}

.blue {

	background-color: blue;
	
}

.yellow {
	
	background-color: yellow;

}

*/
